.square{
    background-color: white;
 
    border:1px solid black;
    box-sizing: border-box; 
    margin: 0px 0px;
   


}

.container{
    width: 960px;
    height:auto;
    border: 50px solid orange;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    flex:1;
    justify-content: flex-start;
    align-items: flex-start;
    
    margin: 100px auto; 
    padding:0px;
}
.new-grid-btn{
    border-radius: 10px;
    color:black;
    font-size: 22px;
    margin-top: 0px;
    
}
body{
    display: flex;
    flex-flow: column;
    align-items: center;

}

